<link rel="stylesheet" href="css/play-room-styles.css">
<link rel="stylesheet" href="css/chat-styles.css">


<div>
   <div id="free-move-zone">
        <img id="player" src="assets/cat/cats.png"></img>
    </div>


    <div class="chat-container">
        <div id="chatContainerGame">
            <!-- Chat Messages Place -->
        </div>
        <div class="chat-container-inp_btn">
            <input id="inputMessageGame" placeholder="Type your message...">
            <button id="sendButtonGame" onclick="sendMessageGame()">Send</button>
        </div>
    </div>
</div>


{{!-- connecting the Socket.io library directly from CDN --}}
{{!-- (Content Delivery Network) to work with game-chat --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();

    getUserName().then(username => {
        socket.emit("game-chat", username);
    })

    async function getUserName() {
        let result = await fetch('/profile', {
            method: 'GET'
        });
        result = await result.json();
        return result.data;
    }

    function sendMessageGame() {
        const msgElem = document.getElementById("inputMessageGame");
        socket.emit("sendMessageGame", msgElem.value);
        msgElem.value = '';
    }
</script>
<script src="js/chat.js"></script>
<script src="js/game-room.js"></script>