<div class="cat">
  <div class="body"></div>
  <div class="body-merge"></div>
  <div class="ear-left"></div>
  <div class="ear-right"></div>
  <div class="eye eye__left"></div>
  <div class="eye eye__right"></div>
  <div class="mouth">
    <div class="mouth-left"></div>
    <div class="mouth-right"></div>
  </div>
  <div class="paw paw__left">
    <div class="paw-detail-small paw-detail__top"></div>
    <div class="paw-detail-small paw-detail__left"></div>
    <div class="paw-detail-small paw-detail__right"></div>
    <div class="paw-detail-large paw-detail__bottom"></div>
  </div>
</div>
<div class="paw-right-down"></div>
<div class="paw-merge-right"></div>
<div class="desk"></div>
