<style>
  ::selection {
    user-select: none;
  }

  .container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #eb52a9, #e560b9, #de6ec8, #d67ad5, #cd86e0, #c281dc, #b67dd7, #ab78d3, #9b62c0, #8b4cae, #7b369b, #6c1c89);
  background-size: 300% 300%;
  animation: gradient 15s ease-in-out forwards;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 80% 50%;
    }
  }

  .loader {
    transition: transform 0.5s ease-in-out;
    animation: rotateAnimation 2.5s ease-in-out forwards;
  }
  .fin-anim {
    margin-left: 126px;
    transition: transform 0.5s ease-in-out;
    animation: moveUpAnimation 2.2s ease-in-out forwards;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveUpAnimation {
    0% {
      transform: translateY(86%);
    }
    100% {
      transform: translateY(-30%);
    }
  }

  .c-btn {
    display: none;
    min-width: 300px;
    text-transform: uppercase;
  }
  .fin-anim-btn {
    display: block;
    transition: transform 0.5s ease-in-out;
    animation: finAnimationBtn 2.2s ease-in-out forwards;
  }
  @keyframes finAnimationBtn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .startgame {
    animation: startgameAnimation 1.2s ease-in-out forwards;
  }
  @keyframes startgameAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<div id="loader-content">
  <div>
    <div class="container">
      <div>
        <img id="loader-img" class="loader" src="https://img.icons8.com/color/48/000000/pixel-cat.png"/>
        <button id="start-game-btn" class="c-btn" onclick="startGame()">Start Game</button>
      </div>
    </div>
  </div>
</div>

<script>
  const img = document.getElementById('loader-img');
  const btn = document.getElementById('start-game-btn');
  const randTimeout = Math.random() * (4000 - 700) + 700;
  let isAnimFin = false;

  function onAnimFunc() {
    img.classList.remove('loader');
    if (isAnimFin) {
      img.classList.add('fin-anim');
      btn.classList.add('fin-anim-btn');
      img.removeEventListener('animationend', onAnimFunc);
    }
    else {
      void img.offsetWidth;
      img.classList.add('loader');
    }
  };

  img.addEventListener("animationend", onAnimFunc);

  setTimeout(() => {
    isAnimFin = true;
  }, randTimeout);
</script>
{{!-- StartGame --}}
<script>
  function startGame()
  {
    const contentPage = document.getElementById('loader-content');
    contentPage.classList.add('startgame');
    contentPage.addEventListener("animationend", () => {
      window.location = window.location.pathname.split("/")[0] + "/registration";
    });
  }
</script>
