<div>
    <div class="menu-container">
        <div class="menu-center-name">
            <h1>GameName</h1>
        </div>
        <div class="menu-center-navigation">
            <a href="#1">Single Play</a>
            <a href="#2">Play with Friends</a>
            <a href="#3">Options</a>
            <a href="#4">Exit</a>
        </div>
    </div>

    <div class="menu-chat-container">
        <div id="chatContainer">
            <!-- Chat Messages Place -->
        </div>
        <div class="menu-chat-container-inp_btn">
            <input id="inputMessage" placeholder="Type your message...">
            <button id="sendButton">Send</button>
        </div>
    </div>
</div>
