<link rel="stylesheet" href="css/menu-styles.css">
<link rel="stylesheet" href="css/chat-styles.css">

<div>
    <div class="menu-container">
        <div class="menu-center-name">
            <span>Kitty Combat</span>
            <lable>Toad-Titans</lable>
        </div>
        <div id="idMainMenuNavBtn" class="menu-center-navigation">
            <button id="btnNewGame" onclick="startPlay()">New Game</button>
            <button id="btnOptions" onclick="openOptionsClick()">Options</button>
            <button id="btnExit">Exit</button>
        </div>

        <div id="idMainMenuOptions" class="menu-center-options">
            <span>Options</span>
            <button>Sound <i id="isSoundOn">ON</i></button>
            <button onclick="fullscreenTurnClick()">Fullscreen <i id="isFullscreenOn">OFF</i></button>
            <button onclick="openChatHistoryClick()">Chat History</button>
            <button onclick="closeOptionsClick()">Back</button>
        </div>

        <div id="idMainMenuChat" class="menu-center-options">
            <span>Chat History</span>
            <button onclick="fullscreenTurnClick()">Fullscreen <i>OFF</i></button>
            <button>Chat History</button>
            <button onclick="closeChatHistoryClick()">Back</button>
        </div>
    </div>

    <div class="chat-container">
        <div id="chatContainerMenu">
            <!-- Chat Messages Place -->
        </div>
        <div class="chat-container-inp_btn">
            <input id="inputMessageMenu" placeholder="Type your message...">
            <button id="sendButtonMenu" onclick="sendMessageMenu()">Send</button>
        </div>
    </div>
</div>

{{!-- connecting the Socket.io library directly from CDN --}}
{{!-- (Content Delivery Network) to work with game-chat --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();

    getUserName().then(username => {
        socket.emit("menu-chat", username);
    })



    function sendMessageMenu() {
        const msgElem = document.getElementById("inputMessageMenu");
        socket.emit("sendMessageMenu", msgElem.value);
        msgElem.value = '';
    }

    async function getUserName() {
        let result = await fetch('/profile', {
            method: 'GET'
        });
        result = await result.json();
        return result.data;
    }

</script>
<script src="js/chat.js"></script>

{{!-- SCRIPT FOR OPTIONS --}}
<script>
    function openOptionsClick() {
        document.getElementById("idMainMenuNavBtn").style.display = "none";
        document.getElementById("idMainMenuOptions").style.display = "grid";
    }
    function closeOptionsClick() {
        document.getElementById("idMainMenuNavBtn").style.display = "grid";
        document.getElementById("idMainMenuOptions").style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", () => {
        const elem = document.getElementById("isFullscreenOn");
        elem.innerText = "OFF";
        elem.style.color = "red";
        const exitButton = document.getElementById("btnExit");
        if (exitButton) {
            exitButton.addEventListener('click', exitFromGame);
        }
    });
    
    async function exitFromGame() {
        fetch('/logout', {
            method: 'GET'
        }).then(r => {
            if (r.status === 200) {
                window.location.href = "/registration";
            }
        })
    }


    function fullscreenTurnClick() {
        const elem = document.getElementById("isFullscreenOn");
        if (document.fullscreenElement) {
            elem.innerText = "OFF";
            elem.style.color = "red";
            document.exitFullscreen();
        }
        else {
            elem.innerText = "ON";
            elem.style.color = "green";
            document.documentElement.requestFullscreen();
        }
    }

    function openChatHistoryClick() {
        document.getElementById("idMainMenuOptions").style.display = "none";
        document.getElementById("idMainMenuChat").style.display = "grid";

    }
    function closeChatHistoryClick()
    {
        document.getElementById("idMainMenuOptions").style.display = "grid";
        document.getElementById("idMainMenuChat").style.display = "none";
    }

</script>
{{!-- SCRIPT FOR STARTPLAY --}}
<script>
    function startPlay() {
        window.location = window.location.pathname.split("/")[0] + "/game-room";
    }
</script>