<<<<<<< Updated upstream
<div>
    <div class="menu-container">
        <div class="menu-center-name">
            <h1>GameName</h1>
        </div>
        <div class="menu-center-navigation">
            <a href="#1">Single Play</a>
            <a href="#2">Play with Friends</a>
            <a href="#3">Options</a>
            <a href="#4">Exit</a>
        </div>
    </div>

    <div class="menu-chat">
        <div id="chatContainer">
            <!-- Сюда будут добавляться сообщения -->
        </div>
        <div class="menu-chat-inp_btn">
            <input id="inputMessage" placeholder="Type your message...">
            <button id="sendButton">Send</button>
        </div>
=======
<div class="container">
    <div class="center">
        <h1>GameName</h1>
        <a href="#1">Single Play</a>
        <a href="#2">Play with Friends</a>
        <a href="#3">Settings</a>
        <a href="#4">Exit</a>
>>>>>>> Stashed changes
    </div>
</div>
