@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
    --scrollbar-color: #77097a;
    --chat-name-color: #c82ece;
    --chat-msg-color: #931597;
    --info-msg-color: #e4a723;
    --font-family-game-name: 'Indie Flower', cursive;
    /* --chat-name-color: #077fcf;
    --chat-msg-color: #0f5fa0;
    --info-msg-color: #cf9a07; */
}

.menu-container
{
    overflow: hidden;
    position: absolute;
    display: flex; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100vh;
    min-width: 100vw;
    background: url("../assets/Menu/menu-bg.png");
    background-size: cover;
    background-position: 50%;
}
.menu-center-name
{
    z-index: 1;
    position: absolute;
    display: grid;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.menu-center-name span
{
    height: 180px;
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 96pt;
    font-family: var(--font-family-game-name);
    text-shadow: 2px 2px 5px #0000009a;
}
.menu-center-name lable
{
    height: 70px;
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 60pt;
    font-family: var(--font-family-game-name);
    text-shadow: 1px 1px 2px #0000009a;
}
.menu-center-navigation
{
    z-index: 3;
    display: grid;
    margin: auto;
    text-align: center;
}
.menu-center-navigation button
{
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    height: 72px;
    width: 200px;
    color: #fff;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 8px;
    background: var(--btn-bg-color);
    transition: all .3s cubic-bezier(.6,0,.4,1);
}
.menu-center-navigation button:hover { background: var(--btn-bg-hover-color); }
.menu-center-navigation button:active { background: var(--btn-bg-active-color); }


/********* MENU-CHAT *********/
.menu-chat-container
{
    z-index: 2;
    position: absolute;
    display: grid;
    left: 20px;
    bottom: 20px;
    height: 420px;
    max-width: 330px;
    min-width: 310px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.3);
}
#chatContainer
{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
    height: 350px;
    max-width: 330px;
    min-width: 310px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px 15px 0px 0px;
}
/** SCROLLBAR IN MENU CHAT **/
#chatContainer::-webkit-scrollbar {
    width: 10px;
    background-color: #00000000;
}
#chatContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-color);
}
#chatContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}
#chatContainer:hover {
    overflow-y: auto;
    transition: all 1s ease-in-out;
}
/******* CHAT MESSAGE *******/
.menu-chat-message
{
    padding: 5px;
    word-wrap: break-word;
}
.menu-chat-info
{
    font-weight: bold;
    color: var(--info-msg-color);
    font-style: italic;
}
.menu-chat-username
{
    font-weight: bold;
    color: var(--chat-name-color);
}
.menu-chat-text
{
    color: var(--chat-msg-color);
    text-overflow: clip;
}
/*** INPUT/BUTTON SEND MSG **/
.menu-chat-container-inp_btn
{
    display: flex;
    height: 50px;
    min-width: 300px;
}
.menu-chat-container-inp_btn input
{
    height: 45px;
    width: 220px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 15px;
}
.menu-chat-container-inp_btn button
{
    height: 50px;
    width: 100px;
    font-size: 16pt;
    background-color: var(--btn-bg-color);
    border-radius: 0px 0px 15px 0px;
    transition: all .3s cubic-bezier(.6,0,.4,1);
}
.menu-chat-container-inp_btn button:hover
{
    background-color: var(--btn-bg-hover-color);
}
.menu-chat-container-inp_btn button:active
{
    background-color: var(--btn-bg-active-color);
}


/******* MENU OPTIONS *******/
.menu-center-options
{
    z-index: 3;
    display: none;
    padding: 15px;
    margin: auto;
    margin-top: 313px;
    text-align: center;
    background-color: #0000007a;
    border-radius: 15px;
    font-size: 27px;
}
.menu-center-options span
{
    margin-bottom: 15px;
    font-weight: bold;
}
.menu-center-options button i
{
    font-style: normal;
}