@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
    --font-family-game-name: 'Indie Flower', cursive;
}

.menu-container
{
    overflow: hidden;
    position: absolute;
    display: flex; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100vh;
    min-width: 100vw;
    background: url("../assets/Menu/menu-bg.png");
    background-size: cover;
    background-position: 50%;
}
.menu-center-name
{
    z-index: 1;
    position: absolute;
    display: grid;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.menu-center-name span
{
    height: 180px;
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 96pt;
    font-family: var(--font-family-game-name);
    text-shadow: 2px 2px 5px #0000009a;
}
.menu-center-name lable
{
    height: 70px;
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 60pt;
    font-family: var(--font-family-game-name);
    text-shadow: 1px 1px 2px #0000009a;
}
.menu-center-navigation
{
    z-index: 3;
    display: grid;
    margin: auto;
    text-align: center;
}
.menu-center-navigation button
{
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    height: 72px;
    width: 200px;
    color: #fff;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 8px;
    background: var(--btn-bg-color);
    transition: all .3s cubic-bezier(.6,0,.4,1);
}
.menu-center-navigation button:hover { background: var(--btn-bg-hover-color); }
.menu-center-navigation button:active { background: var(--btn-bg-active-color); }


/******* MENU OPTIONS *******/
.menu-center-options
{
    z-index: 3;
    display: none;
    padding: 15px;
    margin: auto;
    margin-top: 313px;
    text-align: center;
    background-color: #0000007a;
    border-radius: 15px;
    font-size: 27px;
}
.menu-center-options span
{
    margin-bottom: 15px;
    font-weight: bold;
}
.menu-center-options button i
{
    font-style: normal;
}
